//META{"name":"Full_Light_Theme","description":"Most or all parts of Discord changed to a lighter way! _ _ _ _ _ _ _ _ Note: Have your Appearance set to 'Light' when using this theme.","author":"maple","version":"1.00"}*//

.links, #friends .friends-table .friends-table-header .friends-column-separator, #friends 

.friends-column-separator, .app button[data-reactid=".0.1.1.0.2.0.2.3"],  .header-

toolbar button:last-of-type {
    display: none;
}

.guilds {
    background: #D4D4D4;
}

.guilds li.active .guild-inner:before, .guilds li.unread .guild-inner:before {
    background: #fff;
    border: 1px solid #888;
}

.guild-inner a, .tab-bar.SIDE, .guilds-add {
    background: #888;
}

.guild-channels, .channel-members, highlight, .private-channels, .channel-textarea-

autocomplete-inner ul {
    background: #BFBFBF;
}

.guild-header header, .guild-header header:hover, .guild-header.guild-header ul, 

.search-bar, #friends .friends-header {
    background: #9E9E9E;
    box-shadow: none;
}

.guild-channels ul .channel a {
    opacity: .6;
}

.account {
    background: #9E9E9E;
    border-top: none;
}

.channel:not(.selected):hover, .guild-channels ul .channel-text:hover,.channel-

members .member:hover, .channel-members .popout-open, .channel-textarea-autocomplete-inner ul li.active, .channel.selected {
    background: rgba(235,232,218,.45) !important;
}

.channel-text.selected {
    background: rgba(225,222,208,.45) !important;
}

.btn-group {
    border: 1px solid #7D7D7D !important;
    background: #888;
}

.btn-mute, .btn-deafen, .btn-settings {
    background: none !important;
}

.btn-mute, .btn-deafen, .channel-textarea-upload {
    border-right: 1px solid #ADADAD !important;
}

.btn-deafen, .btn-settings {
    box-shadow: none !important;
}

.messages-wrapper, .flex-spacer, .title-wrap, .typing, #friends {
    background: #D4D4D4 !important;
}

.channel-textarea-inner, textarea {
    background: #9E9E9E;
    color: #fff !important;
}

.channel-textarea-autocomplete-inner header, .channel-textarea-autocomplete-

inner:after {
    border-bottom: none;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background: #ADADAD;
    border: 3px solid #BDBDBD;
}
    
.topic {
    color: #FFF !important;
}

.guild-channels ul .channel-voice:not(.locked):hover a, .channel:not(.selected):hover {
    opacity: 1;
}

.message-group a {
    color: #00B0F4 !important;
}

/* very messy */
