//META{"name":"Full_Light_Theme","description":"Most or all parts of Discord changed to a lighter way Note: Have your Appearance set to 'Light' when using this theme.","author":"maple","version":"2.00"}*//{}

.channel .channel-name,.guild-channels header,.app .guilds .friends-online {color:#8a8e94;}
.app .guild-inner,.guilds-wrapper .guild-separator:after{background:#ccc!important;transition:background .1s;;}
.app .guild-inner:hover{background:rgb(114,137,218)!important;}
.guild-channels,.private-channels,#rtc-connection .btn:active {background: #ebebeb !important;}
.guild-header header {box-shadow:none}
.account, #rtc-connection {border-color:#f3f3f3;}
.scroller-wrap .channel:hover,.scroller-wrap .channel.selected {background: -webkit-linear-gradient(left,#dedede 85%,#ebebeb);}
.private-channels .channel:hover .status,.private-channels .channel.selected .status {border-color:#dedede;}
.btn-group {border: 1px solid #fbfbfb !important;background:#eee;}
.account .btn-settings:after,.private .close,#rtc-connection .btn-disconnect:after,#rtc-connection .btn-info:after,.channel-arrow,.guild-channels .icon, .guild-channels button{filter:invert(66%);}
.channels-wrap .btn-group .btn:not(.btn-mute):not(.btn-deafen):hover {opacity:.4}
.channel-arrow:hover{background-color:rgba(0,0,0,.4)!important;}
.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before,
.guild-channels .channel-text:before {background: #ccc !important;border:1px solid #eee;}
.guild-channels .channel-text:hover.channel-muted:before, .guild-channels .channel-text:hover:not(.unread):before,.channel.channel-text.unread:before {border-left: 2px solid #7289da !important;}
.channels-wrap .btn-group .btn:not(:last-child) {border-right: 1px solid #ccc!important;}
.channels-wrap .btn, .search-bar {box-shadow: none !important;}
#app-mount .scroller-wrap .scroller::-webkit-scrollbar-thumb {border: 3px solid #FFF;background: #7289EA;}
.channels-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb {border:3px solid #ebebeb!important;background:#cecece!important;}
.scroller-wrap .messages::-webkit-scrollbar-thumb {border-width:3px!important;}
.scroller-wrap .channel-members::-webkit-scrollbar-thumb {border:3px solid #f3f3f3!important;}
.channel:not(.selected):hover.channel:not(.selected):hover a, .guild-channels .channel-text.unread:not(.selected):not(.channel-muted):hover, .guild-channels .channel-text.unread:not(.selected) .channel-name:hover,#rtc-connection .btn-disconnect:after,#rtc-connection .btn-info:after,.channel:hover .channel-name,.account .btn-settings:after {opacity:1!important;}
.guild-channels .channel-text.unread:not(.selected) .channel-name {opacity: .5;}
.guild-channels .channel a {opacity: .65;text-shadow: 1px 1.35px 1.5px rgba(30,30,38,.1);}
.search-bar .search-bar-inner{background:#fdfdfd;}
.search-bar [placeholder] {filter:brightness();}
.channels-wrap .btn {background-color: unset!important;}
.account .btn-deafen:hover:after,.account .btn-mute.disabled:hover:after,.account .btn-mute:hover:after,#voice-connection .btn-info:hover:after,#rtc-connection .btn-disconnect:hover:after {opacity: .6;}
.account .status {border-color:#e4e4e4;}
.private-channels .status {border-color:#ebebeb;}
.guild-header span, .title-wrap .topic,#rtc-connection .rtc-connection-channel,.account {text-shadow: 1px 1px 1px rgba(30,30,38,.1);}
.guild-header span,#rtc-connection .rtc-connection-channel,.account,.guilds-wrapper .guilds .guild .guild-inner a {color:#4f545c}
.search-bar,#friends .friends-header,.guild-header header,.guild-header header:hover,.account, #rtc-connection,.guild-header.popout-open header {background: #e4e4e4;}
.channel-pins .message-group,.guilds {background-color: #F3F3F3;}
