//META{"name":"Full_Light_Theme","description":"Most or all parts of Discord changed to a lighter way Note: Have your Appearance set to 'Light' when using this theme.","author":"maple","version":"1.40"}*//{}

.tab-bar-item, .chat>.title-wrap>.title, 
.chat>.title-wrap>.title .channel-name, .topic-expandable {
    color: #FFF !important;
}
.tab-bar-item.bd-tab, #user-profile-modal .tab-bar .tab-bar-item {
    color: #7289da !important;
}
.links, .search-bar-clear {
    display: none;
}
.guild.selected:before, .highlight, 
.guilds li.active .guild-inner:before,
.guilds.unread .guild-inner:before,  {
    background: #fff;
    border: 1px solid #888;
}
#user-profile-modal .scroller {
    background: #fff !important;
}
.guild-inner a, .tab-bar.SIDE, 
.guilds-wrapper .guild-separator:after,
.guilds-wrapper .guilds .guild+.guilds-add {
    background: #888;
}
.guild-channels,
.channel-members,
.private-channels,
.btn-group,
#voice-connection .btn:active,
.channel-textarea-autocomplete-inner ul,
.search-bar input {
    background: #D4D4D4 !important;
}
.guild-header header {
    box-shadow: none;
}
.guild-channels ul .channel a {
    opacity: .6;
}
.account, #voice-connection  {
    border-top: none;
}
.channel:not(.selected):hover, 
.guild-channels ul .channel-text:hover,
.channel-members .member:hover, 
.channel-members .popout-open, 
.channel-textarea-autocomplete-inner ul li.active, 
.channel.selected,
.private-channels .search-result.selected, 
.private-channels .search-result:hover {
    background: rgba(235,232,218,.45) !important;
}
.channel-text.selected {
    background: rgba(225,222,208,.45) !important;
}
.btn-group {
    border: 1px solid #7D7D7D !important;
}
.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before,
.guild-channels .channel-text:before  {
    border: 1px solid #FFF !important;
    background: #7289EA !important;
}
.guild-channels .channel-text:hover.channel-muted:before, 
.guild-channels .channel-text:hover:not(.unread):before,
.channel.channel-text.unread:before {
    border-left: 2px solid #7289da !important;
}
.header-toolbar button {
    background-color: rgba(153,170,181,.2);
}
.btn-mute, .btn-deafen, .btn-settings, .search-bar .search-bar-inner {
    background: none !important;
}
.btn-mute, .btn-deafen, .channel-textarea-upload,
#voice-connection .btn-info {
    border-right: 1px solid #ADADAD !important;
}
.btn-deafen, .btn-settings, #voice-connection .btn-disconnect, .search-bar {
    box-shadow: none !important;
}
.messages-wrapper, .flex-spacer, .title-wrap, .typing, #friends, .guilds {
    background: #E3E3E3 !important;
}
.channel-textarea-inner {
    color: #737f8d !important;
}
.channel-textarea-autocomplete-inner header, 
.channel-textarea-autocomplete-inner:after,
.title-wrap {
    border-bottom: none;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border: 2px solid #FFF !important;
    background: #7289EA !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece, .search-bar .search-bar-inner {
    background: transparent;
    border: none;
}
.channel:not(.selected):hover.channel:not(.selected):hover a, 
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):hover, 
.guild-channels .channel-text.unread:not(.selected) .channel-name:hover {
    opacity: 1;
}
.channel:hover .channel-name {
    opacity:1 !important;
}
.guild-channels .channel-text.unread:not(.selected) .channel-name {
    opacity: .5;
}
.guild-channels .channel a {
    opacity: .65;
}
.message-group a {
    color: #00B0F4 !important;
}
.search-bar input {
    border: none !important;
    box-shadow: none !important;
}
.user-popout .body .notes textarea {
    color: #484848 !important;
}
.markup {
    color: #484848 !important;
    padding-top: 2px;
    padding-left: 8px;
}
#voice-connection .btn, .channel-textarea-inner textarea {
    background-color: transparent;
}
.account .btn-settings:after {
    background-image: url(https://a.pomf.cat/srtgnt.png) !important;
    opacity: 1;
}
.account .btn-deafen:hover:after {
    background-image: url(https://discordapp.com/assets/0b7ed5c38508da4e4cfc72f33bae31f0.svg) !important;
    opacity: .6;
}
.account .btn-mute.disabled:hover:after {
    background-image: url(https://discordapp.com/assets/a65804e88b7c4d2dd2149bb3db64c449.svg) !important;
    opacity: .6;
}
.account .btn-mute:hover:after {
    background-image: url(https://discordapp.com/assets/c60e5f90bd86a4bcf2a60389ef6fcea1.svg);
    opacity: .6;
}
#voice-connection .btn-disconnect:after {
    background-image: url(https://a.pomf.cat/lcefzh.png) !important;
    opacity: 1;
}
#voice-connection .btn-disconnect:hover:after {
    opacity: .6;
}
#voice-connection .btn-info:after {
    background-image: url(https://a.pomf.cat/pfgkfz.png) !important;
    opacity: 1;
}
#voice-connection .btn-info:hover:after {
    opacity: .6;
}
.status {
    border-color: rgb(200,200,200) !important;
}
#friends .friends-header {
    background: linear-gradient(to right, #bfbfbf 0%,#bfbfbf 45%,#d4d4d4 68%) !important;
}
.guild-header span, .title-wrap * {
    text-shadow: 1px 1.35px 1.5px rgba(30,30,38,.1);
}
/* 9E9E9E */

.guild-header header, 
.guild-header header:hover, 
.guild-header.guild-header ul, 
.search-bar, #friends .friends-header,
.guild-header header, 
.guild-header header:hover, 
.guild-header.guild-header ul,
.account, #voice-connection,
.guild-header header:hover, 
.guild-header.popout-open header {
    background: #BFBFBF;
}
/* F3F3F3 */
.channel-pins .message-group {
    background-color: #F3F3F3;
}

/* very messy */
